name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [18.x, 22.x]

        env:
            CI: true
            COVERAGE: ${{ matrix.node-version == '22.x' && true || false }}

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - run: yarn

            # Coverage.
            - name: Run coverage
              run: yarn coverage
            - name: Report coverage
              uses: codecov/codecov-action@v3
    tests-bun:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: oven-sh/setup-bun@v2

          - run: bun install
          - run: bun coverage
